
<body class="indexpage">
  <div class="container">
    <h1>Welcome to Root <span style="font-family: 'Bungee Outline', cursive;">&</span> Branch</h1>
    <p>A marketplace for socially conscious shoppers</p>
      <%= image_tag("leaves-on-a-branch-silhouette.png") %><br>
      <br>
    <h2 class="indexshop"><%= link_to "SHOP", items_path %></h2>

  </div>
</body>
