/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-default {
   background: none;
   border: none;

 }

 .navbar-default .navbar-nav > li > a {
     color:#e7e8ce;
     font-family: 'Bungee Hairline', cursive;
     font-size: 1.25em;
 }

 .navbar-header {
   float: left;
   text-align: center;
   width:100%;
 }
 .navbar-default .navbar-brand {
     color:#e7e8ce;
      font-family: 'Bungee Hairline', cursive;
      font-size: 1.75em;
      float: none;
 }
 a {
   color: #014c8c;
 }

 body {
   background-color: #778467;
 }

 .indexheader {
   font-family: 'Raleway', sans-serif;
   color:#e7e8ce;
   font-weight: lighter;
 }

 .card-text {
   color: #5b5a4f;
 }

 .split {
   display:block;margin:2px;
 }

 .split span {
   display:block;
   color: #a55538;
   font-weight: lighter;
 }

 .cart_header, .item_title {
   font-family: 'Raleway', sans-serif;
   color:#5b5a4f;
   font-weight: lighter;
 }

.btn-success {
  background-color: #768cab;
  border: white;
}
.btn-success:hover {
  background-color: #014c8c;
}

.btn-danger {
  background-color: #c16848;
  border: white;
}

.btn-danger:hover {
  background-color: #ad301d;
}

.btn-warning {
  background-color: #da9e3c;
  border: white;
}
